// Place all the styles related to the Restaurents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#map {
       height: 100%;
     }
     /* Optional: Makes the sample page fill the window. */
#val{
   height: 50%;
   width: 40%;
   margin: 50;
   padding: 50;
 }
